.relatedProductsSection {
    width: 100%;
}
.RelatedProductsTitle {
    width: 100%;
    text-align: center;
    font-family: var(--BPGcaps);
    font-size: 1.2rem;
    font-weight: normal;
    padding: 2%;
    color: var(--fontBlack);
}
.relatedProductsDiv {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
.RelatedProductsBox {
    display: none;
}
.RelatedProductsBox:nth-child(-n+4) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 24%;
    height: 100%;
}
.relatedImage {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.RelatedProductDetails {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 4%;
}
.RelatedProductDetails h2 {
    font-family: var(--BPGcaps);
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    padding: 2% 0;
    color: var(--fontBlack);
}
.RelatedProductDetails span {
    font-family: var(--roboto);
    font-size: 0.8rem;
    font-weight: normal;
    text-align: left;
    padding: 2% 0;
    color: var(--fontBlack);
    margin-bottom: 3.5%;
    display: inline-block;
}